body{
    background-image: url("beach.jpg");
    background-size:cover;
}
h1{
    position: absolute;
    left:50%;
    background: yellow;
}
#count{
    position: absolute;
    left: 60%;
    top:15%;
    background: yellow;
}

#increment{
    position: absolute;
    top: 50%;
    left: 15%;
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    color:black;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 50px;
    background:yellow;

}

#reset{
    position: absolute;
    top: 90%;
    left: 15%;
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    color:black;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 50px;
    background:yellow;

}

#decrement{
    position: absolute;
    top: 70%;
    left: 15%;
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    color:black;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 50px;
    background:yellow;